{% extends "base.html" %}
{% block main %}
<!-- banner -->
<div class="ds-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                <figure>
                    <img src="../static/images/but.png" alt="Здесь должна была быть картинка, но не нашлась">
                </figure>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                <section>
                    <h1>
                        <span>ПРИВЕТ</span>
                        Меня зовут Виктория <br>{{ posit }} Санкт-Петербург
                    </h1>
                    <ul class="ds-numbervalulist">
                        <li>
                            <strong>-0</strong>
                            <span>Опыта</span>
                        </li>
                        <li>
                            <strong>0+</strong>
                            <span>Проектов</span>
                        </li>
                        <li>
                            <strong>8</strong>
                            <span>Довольных клиентов</span>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- banner -->

<!-- about -->
<div class="ds-about-section">
    <div class="container">
        <section>
            <h2 class="ds-heading">Обо мне</h2>
            <p>
                {% set lines = about.split('\n') %}
                {%for line in lines %}
                {{ line }}<br>
                {% endfor%} </p>
            <div class="ds-button-sec text-center">
                <a href="{{ url_for('static', filename='doc/resume-r.docx') }}" class="ds-button" download>Скачать
                    резюме</a>
            </div>
        </section>
    </div>
</div>
<!-- about -->

<!--  Skills -->
<div class="ds-skills-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">hard skills</h2>
                <ul class="ds-skills-list">
                    {%for item in skills_list_hard %}
                    <li>{{ item }}</li>
                    {% endfor%}
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">soft skills</h2>
                <ul class="ds-skills-list">
                    {%for item in skills_list_soft %}
                    <li>{{ item }}</li>
                    {% endfor%}

                </ul>
            </div>
        </div>
    </div>
</div>
<!--  Skills -->

<!-- Experience -->
<div class="ds-experience-section">
    <div class="container">
        <h2 class="ds-heading">Опыт работы</h2>
        <div class="row ds-experience-list">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <section>
                    <span class="ds-year">2023 - Сейчас</span>
                    <h3 class="ds-officename">Сам себе хозяин</h3>
                    <span class="ds-department">Backend developer</span>
                    <ul>
                        <li>Изучение документации и стандартов написания кода</li>
                        <li>Работа с Api внешних сервисов</li>
                        <li>Git коммиты</li>
                        <li>Jinja шаблонизатор</li>
                        <li>Ходила в СПА и пила смузи</li>
                    </ul>
                </section>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <section>
                    <span class="ds-year">2010 - 2023</span>
                    <h3 class="ds-officename">Международная европейская компания</h3>
                    <span class="ds-department">Team lead</span>
                    <ul>
                        <li>Постановка целей, инициирование действий для их достижения и отслеживание результатов</li>
                        <li>Анализ отчетов, KPI</li>
                        <li>Реализация проектов компании</li>
                        <li>Составление графика и планирование</li>
                        <li>Развитие профессиональных навыков команды (штат сотрудников от 100 и больше)</li>
                        <li>Обеспечение кадрового резерва внутри команды, рекрутмент</li>
                        <li>Проведение обратной связи для команды</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Experience -->

<!--  Work -->
<div class="ds-work-section">
    <div class="container">
        <h2 class="ds-heading">Последние работы</h2>
        <div class="ds-work-list-section">
            <div class="ds-work-list">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                        <section>
                            <h3 class="ds-work-tilte">Прогноз погоды</h3>
                            <p>OpenWeatherMap — онлайн сервис, который предоставляет API для доступа к данным
                                о текущей погоде, прогнозам и историческим данным.
                                В качестве источника данных используются официальные метеорологические службы.</p>
                            <a href="/weather_form" class="ds-button">Подробнее</a>
                        </section>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                        <figure><img src="../static/images/work1.png"
                                     alt="Здесь должна была быть картинка, но не нашлась"></figure>
                    </div>
                </div>
            </div>
            <div class="ds-work-list">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                        <section>
                            <h3 class="ds-work-tilte">Работа с изображением</h3>
                            <p>Бла-бла-бла </p>
                            <a href="/works" class="ds-button">Подробнее</a>
                        </section>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                        <figure><img src="../static/images/work2.png"
                                     alt="Здесь должна была быть картинка, но не нашлась"></figure>
                    </div>
                </div>
            </div>
            <div class="ds-work-list">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                        <section>
                            <h3 class="ds-work-tilte">app</h3>
                            <p>Бла-бла-бла. </p>
                            <a href="/works" class="ds-button">Подробнее</a>
                        </section>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                        <figure><img src="../static/images/work3.png"
                                     alt="Здесь должна была быть картинка, но не нашлась"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Work -->
{% endblock main %}