{% extends "works_base.html" %}

{% block content_works %}
<figure><img src="../static/images/work-details-image-2.jpg"
             alt="Здесь должна была быть картинка, но не нашлась">
</figure>
<div class="ds-work-content-sec">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h2>Вернитесь на главную страницу</h2>
            <p>Не волнуйтесь! Все бездельники будут уволены</p>
        </div>
    </div>
</div>
{% endblock content_works %}