{% extends "works_base.html" %}

{% block content_works %}
<figure><img src="../static/images/work-details-image-2.jpg"
             alt="Здесь должна была быть картинка, но не нашлась"></figure>
<div class="ds-work-content-sec">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <p>Я готовлю для вас нечто удивительное и захватывающее -
                специальный сюрприз для посетителей сайта.</p>

            <p> Хорошее планирование труда и отдыха — основа личной эффективности и результативности. </p>

            <h2>Эта страница находится в стадии разработки, все почти готово!</h2>
            <p> В сутках всего 24 часа.
                Я проанализировала свой день и сформулировала его нормальный примерный распорядок:</p>
            <ul>
                <li>8 часов на сон</li>
                <li>1,5 часа на душ, бытовые вопросы, кофе</li>
                <li>4 часа на работу, «тушение пожаров» и устранение ошибок</li>
                <li>1 час на покупки или поручения</li>
                <li>1,5 часа на спорт-зал или прогулку</li>
                <li>1,5 часа на общение с семьей и друзьями</li>
                <li>1,5 часа на приготовление еды и ее поглощение</li>
                <li>4 часа на вовлеченную работу, создание новых фич и продуктов</li>
                <li>1 час на время с любимым</li>
            </ul>
        </div>
    </div>
</div>
<figure><img src="../static/images/work-details-image-3.png"
             alt="Здесь должна была быть картинка, но не нашлась">
</figure>
<div class="ds-work-content-sec">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <p>В общем, у меня довольно плотный график. Если я начну делать ненужные вещи, то мне не хватит времени.
                Я начну пропускать зал, пропускать прогулки, не смогу видеть мужа и эффективно работать.
                Мое здоровье, отношения и работа начнут постепенно разваливаться.
                Я знаю, что так будет, потому что это уже происходит у многих людей.
                А такой график для меня работает, и я не хочу его менять.</p>
                <p>
                И да, я не то чтобы прямо так уж до минуты все планирую, я же не робот.
                Это просто пример среднестатистических времязатрат за день.</p>
        </div>
    </div>
</div>
{% endblock content_works %}
